data:
  config.yaml: {{ lookup('template', 'config.j2') | string | b64encode }}
{% if quay_install_openshift_role_extra_ca_cert_custom_ca is defined %}
  extra_ca_cert_custom-ca.crt: {{ quay_install_openshift_role_extra_ca_cert_custom_ca | string | b64encode }}
{% endif %}
{% if quay_install_openshift_role_ssl_cert is defined and
      quay_install_openshift_role_ssl_key is defined %}
  ssl.cert: {{ quay_install_openshift_role_ssl_cert | string | b64encode }}
  ssl.key: {{ quay_install_openshift_role_ssl_key | string | b64encode }}
{% endif %}
