ALLOW_PULLS_WITHOUT_STRICT_LOGGING: false
AUTHENTICATION_TYPE: {{ quay_install_openshift_role_authentication_type }}
{% if quay_install_openshift_role_swagger_enabled is sameas true %}
BROWSER_API_CALLS_XHR_ONLY: false
{% endif %}
DEFAULT_TAG_EXPIRATION: 2w
{% if quay_install_openshift_role_cr_objectstorage is sameas false %}
{{ lookup('template', 'storage.j2') }}
{% endif %}
ENTERPRISE_LOGO_URL: /static/img/quay-horizontal-color.svg
FEATURE_ANONYMOUS_ACCESS: {{ quay_install_openshift_role_feat_anonymous_access }}
FEATURE_BUILD_SUPPORT: false
FEATURE_DIRECT_LOGIN: true
FEATURE_MAILING: false
{% if quay_install_openshift_role_s3_backend|length and
      quay_install_openshift_role_cr_objectstorage is sameas false %}
FEATURE_PROXY_STORAGE: {{ quay_install_openshift_role_proxy_storage }}
FEATURE_STORAGE_REPLICATION: {{ quay_install_openshift_role_storage_replication }}
{% endif %}
{% if quay_install_openshift_role_authentication_type == "LDAP" %}
FEATURE_TEAM_SYNCING: {{ quay_install_openshift_role_feat_team_syncing }}
LDAP_ADMIN_DN: {{ quay_install_openshift_role_ldap_admin_dn }}
LDAP_ADMIN_PASSWD: {{ quay_install_openshift_role_ldap_admin_passwd }}
LDAP_ALLOW_INSECURE_FALLBACK: false
LDAP_BASE_DN:
{% for item in quay_install_openshift_role_ldap_base_dn %}
- {{ item }}
{% endfor %}
LDAP_EMAIL_ATTR: {{ quay_install_openshift_role_ldap_email_attr }}
LDAP_UID_ATTR: {{ quay_install_openshift_role_ldap_uid_attr }}
LDAP_URI: {{ quay_install_openshift_role_ldap_uri }}
{% if quay_install_openshift_role_ldap_user_filter is defined %}
LDAP_USER_FILTER: {{ quay_install_openshift_role_ldap_user_filter }}
{% endif %}
LDAP_USER_RDN:
{% for item in quay_install_openshift_role_ldap_user_rdn %}
- {{ item }}
{% endfor %}
{% if quay_install_openshift_role_ldap_secondary_user_rdns is defined %}
LDAP_SECONDARY_USER_RDNS:
{% for item in quay_install_openshift_role_ldap_secondary_user_rdns %}
- {{ item }}
{% endfor %}
{% endif %}
{% endif %}
REGISTRY_TITLE: {{ quay_install_openshift_role_registry_title }}
REGISTRY_TITLE_SHORT: {{ quay_install_openshift_role_registry_title_short }}
{% if quay_install_openshift_role_server_hostname is defined
      and not quay_install_openshift_role_cr_tls
      and quay_install_openshift_role_ssl_cert is defined
      and quay_install_openshift_role_ssl_key is defined %}
EXTERNAL_TLS_TERMINATION: false
PREFERRED_URL_SCHEME: https
SERVER_HOSTNAME: {{ quay_install_openshift_role_server_hostname }}
{% endif %}
{% if quay_install_openshift_role_super_users is defined %}
SUPER_USERS:
{% for item in quay_install_openshift_role_super_users %}
- {{ item }}
{% endfor %}
{% endif %}
TAG_EXPIRATION_OPTIONS:
- 2w
TEAM_RESYNC_STALE_TIME: 60m
TESTING: false
