ALLOW_PULLS_WITHOUT_STRICT_LOGGING: false
AUTHENTICATION_TYPE: Database
DEFAULT_TAG_EXPIRATION: 2w
{% if quay_install_openshift_role_s3_backend == "AWS" and
      quay_install_openshift_role_cr_objectstorage is sameas false %}
DISTRIBUTED_STORAGE_CONFIG:
  default:
  - S3Storage
  - host: {{ quay_install_openshift_role_s3_aws_host }}
    s3_access_key: {{ quay_install_openshift_role_s3_access_key }}
    s3_bucket: {{ quay_install_openshift_role_s3_bucket_name }}
    s3_secret_key: {{ quay_install_openshift_role_s3_secret_key }}
    storage_path: /datastorage/registry
DISTRIBUTED_STORAGE_PREFERENCE:
- default
{% endif %}
{% if quay_install_openshift_role_s3_backend == "GCS" and
      quay_install_openshift_role_cr_objectstorage is sameas false %}
DISTRIBUTED_STORAGE_CONFIG:
  default:
  - GoogleCloudStorage
  - access_key: {{ quay_install_openshift_role_s3_access_key }}
    bucket_name: {{ quay_install_openshift_role_s3_bucket_name }}
    secret_key: {{ quay_install_openshift_role_s3_secret_key }}
    storage_path: /datastorage/registry
DISTRIBUTED_STORAGE_DEFAULT_LOCATIONS: []
DISTRIBUTED_STORAGE_PREFERENCE:
- default
{% endif %}
{% if quay_install_openshift_role_s3_backend == "RGW" and
      quay_install_openshift_role_cr_objectstorage is sameas false %}
DISTRIBUTED_STORAGE_CONFIG:
  default:
  - RadosGWStorage
  - access_key: {{ quay_install_openshift_role_s3_access_key }}
    bucket_name: {{ quay_install_openshift_role_s3_bucket_name }}
    hostname: {{ quay_install_openshift_role_s3_rgw_hostname }}
    is_secure: false
    port: {{ quay_install_openshift_role_s3_rgw_port | default('443') }}
    secret_key: {{ quay_install_openshift_role_s3_secret_key }}
    storage_path: /datastorage/registry
DISTRIBUTED_STORAGE_PREFERENCE:
- default
{% endif %}
ENTERPRISE_LOGO_URL: /static/img/RH_Logo_Quay_Black_UX-horizontal.svg
FEATURE_ANONYMOUS_ACCESS: {{ quay_install_openshift_role_feat_anonymous_access | default(true) }}
FEATURE_BUILD_SUPPORT: false
FEATURE_DIRECT_LOGIN: true
FEATURE_MAILING: false
{% if quay_install_openshift_role_s3_backend|length and
      quay_install_openshift_role_cr_objectstorage is sameas false %}
FEATURE_PROXY_STORAGE: {{ quay_install_openshift_role_proxy_storage | default(true) }}
FEATURE_STORAGE_REPLICATION: {{ quay_install_openshift_role_storage_replication | default(false) }}
{% endif %}
REGISTRY_TITLE: {{ quay_install_openshift_role_registry_title | default('Red Hat Quay') }}
REGISTRY_TITLE_SHORT: {{ quay_install_openshift_role_registry_title_short | default('Red Hat Quay') }}
TAG_EXPIRATION_OPTIONS:
- 2w
TEAM_RESYNC_STALE_TIME: 60m
TESTING: false
