apiVersion: v1
kind: Namespace
metadata:
  annotations:
    {% if quay_install_openshift_role_nodeselector is defined %}
    openshift.io/node-selector: {{ quay_install_openshift_role_nodeselector }}
    {% endif %}
    scheduler.alpha.kubernetes.io/defaultTolerations: '{{ quay_install_openshift_role_defaultTolerations }}'
  name: {{ quay_install_openshift_role_namespace }}
