apiVersion: v1
kind: Service
metadata:
  labels:
    app: swagger-ui
    app.kubernetes.io/component: swagger-ui
    app.kubernetes.io/instance: swagger-ui
  name: swagger-ui
  namespace: {{ quay_install_openshift_role_namespace }}
spec:
  ports:
  - name: 80-tcp
    port: 80
    protocol: TCP
    targetPort: 80
  - name: 8080-tcp
    port: 8080
    protocol: TCP
    targetPort: 8080
  selector:
    deployment: swagger-ui
  sessionAffinity: None
  type: ClusterIP
